/* You can add global styles to this file, and also import other style files */
$primary: grey;
@import "../node_modules/bootstrap-scss/bootstrap.scss";

td{
    width: 33%;
    font-size: large;
    vertical-align: middle;
    text-align: center;
}