/* You can add global styles to this file, and also import other style files */
$primary: grey;
@import "../node_modules/bootstrap-scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

td {
    width: 25%;
    font-size: large;
    vertical-align: middle;
    text-align: center;
}

.giorno td {
    background-color: rgb(233, 231, 231) !important;
}

.notte td {
    background-color: rgba(125, 125, 125, 0.8) !important;
    color: white !important;
}

.w-20 {
    width: 20%;
}

.w-35 {
    width: 35%;
}

.bordo-dx {
    @include media-breakpoint-up(md) {
        border-right: 1px solid rgba(128, 128, 128, 0.3);
    }
}

.bordo-sx {
    @include media-breakpoint-up(md) {
        border-left: 1px solid rgba(128, 128, 128, 0.3);
    }
}